/*===================== 
         Fonts 
=====================*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

/*===================== 
    Default Styles
=====================*/
:root {
   --bg-violet: hsl(273, 75%, 66%);
   --bg-blue: hsl(240, 73%, 65%);
   --bg-white: hsl(360, 100%, 100%)
   --text-grayish-blue: hsl(237, 12%, 33%);
   --text-dark-blue: hsl(240, 6%, 50%);
   --text-very-dark-blue: blue: hsl(238, 29%, 16%);
   --text-soft-red: hsl(14, 88%, 65%);
   --divider: hsl(240, 5%, 91%);
   --light-grayish-blue: hsl(240, 5%, 91%);
}
*,

*::before,
*::after {
   box-sizing: border-box;
}

body {
   background-image: linear-gradient(var(--bg-violet), var(--bg-blue));
   font-family: 'Kumbh Sans', sans-serif;
   font-size: 12px;
   min-height: 100vh;
   padding: 3em;
}

/*===================== 
      Card Styles
=====================*/
.card {
   background: #fff;
   background-image: url('./images/bg-pattern-mobile.svg');
   background-position: center 0%;
   background-repeat: no-repeat;
   border-radius: 2em;
   max-width: 56rem;
   margin: 3em;
}

.card__box {
   display: none;
}

.card__image img {
   display: block;
   height: auto;
   margin: auto;
   max-width: 15rem;
   width: 100%;
}

.card__text {}

/*===================== 
    Footer Styles
=====================*/
.attribution {
   font-size: 1rem;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

/*===================== 
   Responsive Styles
=====================*/
@media screen and (min-width: 62.5em) {
   .card {
      background-image: url('./images/bg-pattern-desktop.svg');
      background-position: -211% 72%;
      background-size: 80%;
      display: flex;
      margin: 6rem auto;
      padding-right: 2rem;
      position: relative;
   }

   .card__box {
      display: block;
      position: absolute;
      left: 0;
      top: 9.65rem;
      transform: translateX(-50%);
      z-index: 1;
   }

   .card__image, .card__text {
      flex: 1;
   }

   .card__image {
      align-items: center;
      display: flex;
      max-width: 25rem;
      overflow: hidden;
   }

   .card__image img {
      max-width: 24rem;
      transform: translateX(-4rem)
   }
}