/*===================== 
         Fonts 
=====================*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

/*===================== 
    Default Styles
=====================*/
:root {
   --soft-violet: hsl(273, 75%, 66%);
   --soft-blue: hsl(240, 73%, 65%);
   --soft-red: hsl(14, 88%, 65%);
   --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-image: linear-gradient(
      to bottom,
      var(--soft-violet),
      var(--soft-blue)
   );
   font-family: 'Kumbh Sans', sans-serif;
   font-size: 12px;
}

.container {
   align-items: center;
   display: flex;
   height: 100vh;
   justify-content: center;
}

/*===================== 
      Card Styles
=====================*/
.card {
   background-color: #fff;
   border-radius: 10px;
   display: flex;
   max-width: 920px;
   overflow: hidden;
   padding: 2em;
   width: 100%;
}

.image {
   background: url(/images/illustration-woman-online-mobile.svg);
   background-repeat: no-repeat;
   background-position: 120% center;
   height: 100%;
   width: 100%;
}

.card-content {
   border-bottom: 1px solid var(--light-grayish-blue);
}

/*===================== 
    Footer Styles
=====================*/
.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
